header {
  background-color: lightblue;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header >img {
  border-radius: 20%;
  width: 100px;
  height: 100px;
  margin: 10px;
}

main > img {
  border-radius: 20%;
  width: 100px;
  height: 100px;
  margin: 10px;
}

header > nav {
  margin: 10px;
}

@media (max-width: 350px){
  header > nav {
    display: none;
  }

  #hamburger-button {
    display:initial
  }
}

@media (max-width: 300px) {
  header {
    flex-direction: column;
  }
}